server:
  port: 9016
application:
  version: @project.version@
spring:
  datasource:
    url: ${ANNONSEMOTTAKDB_URL:jdbc:h2:mem:testdb;Mode=PostgreSQL}
    username: ${ANNONSEMOTTAKDB_USERNAME:sa}
    password: ${ANNONSEMOTTAKDB_PASSWORD:}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
        generate_statistics: true
        cache:
          use_second_level_cache: true
          use_query_cache: true
          region:
            factory_class:  org.hibernate.cache.ehcache.EhCacheRegionFactory
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: none
  profiles:
    active: prod
  flyway:
    enabled: true
    baseline-on-migrate: true
management:
  metrics:
    export:
      prometheus:
        enabled: true
  endpoint:
    prometheus:
      enabled: true
    metrics:
      enabled: true
    mappings:
      enabled: true
  endpoints:
    web:
      exposure:
        include: ["prometheus", "metrics", "mappings"]
scheduler:
  enabled: true
dexi:
  url: https://api.dexi.io
  api:
    username: ${DEXI_API_USERNAME:<dexi username>}
    password: ${DEXI_API_PASSWORD:<dexi password>}
amedia:
  # url: https://bed.api.no/api/pipek/v2/classified/search
  url: http://services.api.no/api/prophecy/external/nav/jobs
  apikey: ${AMEDIA_API_KEY:<amedia api key>}
polaris:
  url: https://stilling.adresseavisen.no/api/nav.json
finn:
  url: https://cache.api.finn.no/iad
  api:
    password: ${FINN_API_PASSWORD:<finn api password>}
proxy:
  url: ${HTTP_PROXY:http://155.55.60.117:8088}
solr:
  url: ${STILLING_SOLR_URL}
  core: 'maincore'
xmlstilling:
  url: http://pam-xml-stilling
sensu:
  host: sensu.nais
  port: 3030